#carouselAutoplaying {
    max-width: 100%;   
    height: 500px;     
    margin: auto;
  }

#carouselAutoplaying .carousel-item img {
    height: 500px;      
    width: 100%;        
    object-fit: cover; 
  }

#heading {
     color: #1a7679;
     font-size: xxx-large;
     text-align: center;
     font-weight: bolder;
  }
#heading1 {
     color: #1a7679;
     font-size: xx-large;
     text-align: center;
     font-weight: bolder;
     padding-block: 20px;
  }
#heading2 {
     color: #1a7679;
     font-size: xx-large;
     text-align: center;
     font-weight: bolder;
     padding-block: 20px;
  }
#subheading1 {
     color: #1a7679;
     font-size: x-large;
     text-align: left;
     font-weight: bolder;
     
  }
#subheading2 {
     color: #1a7679;
     font-size: x-large;
     text-align: left;
     font-weight: bolder;
     
  }
